/* ==================================
	RESPONSIVE LAYOUT
=====================================*/

@media only screen and (max-width: 1007px) {
	/*ARTICLE*/
	.eight {
		width: 100%;
		float: none;
	}
	main article, #main_section, #grey_section {
		height: auto;
	}
	main article h2 {
		text-align: center;
	}
	#main_section {
		padding-bottom: 5px;
	}
	/*ASIDE*/
    .four_aside {
		width: 50%;
		margin: 18px 0 0 0;
		padding-bottom: 25px;
	}
	/*GREY_SECTION*/
	.row_grey {
		width: 35%;
	}
	#grey_section {
	    margin-left: 20px;
        width: 45%;
	}
	#grey_section p {
		padding: 15px 23px;
		width: 100%;
	}
	/*FOOTER*/
	footer .line:nth-child(2) p {
	font-size: 10px;
    }
}
@media only screen and (max-width: 814px) {
	/*HEADER*/
	.container:first-child {
		text-align: center;
		width: 100%;
	}
	header h1 {
		display: block;
		font-size: 45px;
		margin: 0;
	}
	nav {
		float: none;
	}
	.sub_menu {
		display: none;
	}
	.main_menu {
		margin: 27px 0 0 0;
		padding: 0 0 15px 0;
	}
	.dropdown_content {
    	left: 0;
    	margin-top: 13px;
    }
    .dropdown_content ul {
		text-align: start;
	    width: 100%;
	    text-transform: uppercase;
	    font-size: 15px;
	}
	.dropdown_content li a {
    	padding-left: 36px;
	}
	/*MAIN*/
	.container:nth-child(2) {
		width: 100%;
	}
	#main_section {
		margin-top: 0;
	}
	#bottom_second_section {
	    padding: 26px 23px;
 	}
    /*ASIDE*/
    .four_aside {
		width: 50%;
		margin: 19px 0 0 6px;
		padding-bottom: 25px;
	}
	/*FOOTER*/
	.nine p {
		display: none;
	}
	footer {
		text-align: center;
	}
	footer .container, .three {
		width: 100%;
	}
	footer .line:nth-child(2) h2 {
		margin: 0;
		float: none;
		margin: 5px 0 0 0;
	}
	.three {
		margin: 0;
	}
}
@media only screen and (max-width: 560px) {
	#main_section, #bottom_first_section, #bottom_second_section, #grey_section {
		height: auto;
	}
	/*HEADER*/
	header ul li a {
	    text-decoration: none;
	    font-size: 15px;
	}
	/*MAIN*/
	main article h2 {
	    font-size: 24px;
	}
	aside h3 {
		text-align: center;
	}
	.four_aside {
	    width: 90%;
	    margin: 0 auto 0 auto;
	    float: none;
    	clear: left;
	}
	#bottom_first_section {
		margin-bottom: 40px;
	}
	#grey_section {
		width: 100%;
		margin-left: 0;
	    float: left;
	}
	/*FOOTER*/
	footer {
		height: 50px;
	}
	footer .line:first-child {
	    font-size: 12px;
	    display: none;
	}
	footer ul span {
   		padding: 0 0 0 3px;
	}
}
@media only screen and (max-width: 482px) {
	.six {
		margin-left: 0;
		width: 100%;
        float: none; 
	}
	#bottom_first_section {
		margin-bottom: 0;
	}
	#bottom_second_section {
		margin: 25px 0 25px 0;
	}
}
@media only screen and (max-width: 439px) {
	/*MAIN*/
	.main_menu {
		font-size: 17px;
	}
}