<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz'as</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">  
        <b-container>
        	<b-row v-show="selected !== 'pooper' && questionIndex !== questions.length">
        		<b-col sm="6" class="first-col">
        			<h1>{{ title }}</h1>
			        <div v-for="(question, index) in questions">
			        	<div v-show="index === questionIndex" class="fade-in">
				        	<h6><em>{{ question.question }}</em></h6>
							<b-list-group>
								<b-list-group-item v-model="selected"
												   button v-for="(response, index) in question.responses"
												   v-on:click="checkTrue(questionIndex, index)">{{ response.text }}
								</b-list-group-item>
						    </b-list-group>
						    <div align="center">
						    	<b-button class="submitButton" size="lg" v-on:click="checkAnswer">Submit</button>
						    </div>
			        	</div>
			        </div>
			    </b-col>
			    <b-col align="center" class="second-col" sm="6">
		        	<span class="pointsSpan"
		        		  v-for="(question, index) in orderBy(questions, 'points', -1)"
		        		  v-bind:class="[{ pulsate: question.id === questionIndex }, question.id > questionIndex ? unansweredC : answeredC]">
		        		  {{ question.points }}
		        	</span>
		        </b-col>	
    		</b-row>
    			<div class="centerize">
			      	<div v-if="questionIndex === questions.length" class="fade-in winner" align="center">
			        	<b-card overlay img-src="images/daddy.jpg" title="Congratulations!">
				  			<p class="card-text"><strong>You are ready to become my Padavan.</strong></p>
				  			<b-button size="lg" v-on:click="showResult" variant="primary">
				  				Show result
				  			</b-button>
				  			<b-button size="lg" v-on:click="tryAgain" variant="danger">
				  				Try again
				  			</b-button>
						</b-card>
			        </div>
			        <div v-show="selected === 'pooper'" class="fade-in" align="center" >
			        	<b-card overlay img-src="images/storm-pooper.jpg" title="CHOOSE WISELY">
			  				<p class="card-text"></p>
			  				<b-button size="lg" v-on:click="showResult" variant="primary">Show result</b-button>
			  				<b-button size="lg" v-on:click="tryAgain" variant="danger">Try again</b-button>
						</b-card>
			        </div> 
			    </div>
    	</b-container>
    </div>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="app.js" async></script>
</body>
</html>