body {
	font-family: 'Source Sans Pro', 'Times New Roman', sans-serif;
}

/* ======================================
	HEADER
   =================================== */

header, nav, .sub_menu, .dropdown_content ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
header	{
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	background-color: #cc0066;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 117px;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	width: 100%;
}
	header h1 {
		color: #ffcccc;
		font-size: 59.63px;
		font-weight: 700;
		margin-bottom: 9px;
	}
	header ul {
		margin-bottom: 20px;
	}
	header ul li {
		display: inline-block;
		padding-left: 20px;
	}
	header ul li a {
		text-decoration: none;
	}

/* NAVIGATION Bar*/
nav {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main_menu {
	font-size: 20px;
}
	.main_menu li a {
		color: white;
		padding: 11px 0;
	}
	.main_menu li a:hover {
		color: #333333;
	}
.sub_menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 14px;
}
	.sub_menu li a {
		color: black;
	}

/* Dropdown table */

.arrow_up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #4d4d4d;
    margin-top: -15px;
    margin-left: 65px;
    position: absolute;
}
ul .dropdown {
	padding: 0;
}
.dropdown_content {
	background-color: #4d4d4d;
	display: none;
	font-size: 12px;
	margin-left: -34px;
    margin-top: 20px;
	position: absolute;
}
	.dropdown_content ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin: 0;
		padding: 0;

	}
	.dropdown_content li {
		padding: 10px 50px 10px 10px;
	}
	.dropdown_content li:hover {
		background-color: #666666;
	}
	.dropdown_content li a:hover {
		color: white;
	}

.dropdown:hover .dropdown_content {
	display: block;
}